entrypoint = "main.py"
modules = ["python-3.11"]

[nix]
channel = "stable-24_05"
packages = ["cargo", "glibcLocales", "libiconv", "pietrasanta-traceroute", "rustc", "lsof"]

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["python3", "bash run_all.sh"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 42243
externalPort = 3000

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Setup and Run"
author = 44344250
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python setup_migrations.py"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "bash run_all.sh"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Server"

[[workflows.workflow]]
name = "Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "gunicorn --workers 2 --worker-class gevent --bind 0.0.0.0:5000 --timeout 0 \"main:create_app()\""
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[agent]
expertMode = true
